.content {
  max-width: 984px;
  margin: 0 auto;
}

/* 768px */
@media screen and (max-width: 768px) {
  .content {
    max-width: 768px;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .content {
    max-width: 320px;
  }
}
