.intro {
  max-width: 830px;
  margin: 92px auto 0;
}

.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  margin: 40px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  opacity: 0.9;
}

.intro__text--author {
  margin-top: 10px;
  text-align: right;
}
