.intro {
  margin-top: 92px;
  max-width: 830px; /* el ancho del bloque intro en Figma */
}

.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text_type_quote {
  margin-top: 40px;
}

.intro__text_type_author {
  margin-top: 10px;
  text-align: right;
  opacity: 0.9;
}

.intro__text {
  margin: 40px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  opacity: 0.9;
}
