.lead {
  padding-top: 91px; /* para acercarnos al top=194 en Figma (header + espacio) */
  text-align: center;
}

.lead__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
}

.lead__subtitle {
  margin: 32px auto 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
  opacity: 0.9;
}

.lead__photo {
  margin: 64px auto 0;
  display: block;
  width: 100%;
  max-width: 984px;
  height: auto;
  filter: grayscale(100%);
}
