/* ESTILOS GENERALES */
.page {
  max-width: 1280px;
  margin: 0 auto;
  background: #2a2c2f;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
}

.content {
  max-width: 984px; /* el ancho del bloque "lead" en Figma */
  margin: 0 auto;
  padding: 0; /* lo ajustamos con media queries */
}

