.place__artist {
  margin: 0;
  font-family: "Inter";
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  color: #ffffff;
  height: 22px;
}

@media screen and (max-width: 320px) {
  .place__artist {
    max-width: 100%;
    width: auto;
    height: auto;
    white-space: normal;
  }
}
